@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "#F18C8E";
  --primary-400: "#F0B7A4";
  --primary-200: "#F1D1B5";
  --secondary-500: "#305F72";
}

* {
  font-family: Jost, sans-serif;
}

body {
  overflow-x: hidden;
}

.form-group {
  border: 2px solid #884e3b;
  transition: 0.1s;
}

.form-group.active {
  border: 2px solid #351e16;
  transition: 0.1s;
}

.form-group.active .label {
  transition: 0.1s;
  transform: translateY(-25px);
  font-weight: bold;
  color: #351e16;
}

.payment {
  visibility: hidden;
}

.checkbox {
  border: 2px solid #884e3b5b;
}

.check {
  color: rgba(117, 117, 117, 0.24);
}

.payment-check input:checked ~ .checkbox {
  border: 3px solid #884e3b;
}

.payment-check input:checked ~ .checkbox .check {
  color: #884e3b;
}

.spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#351e16 94%,#0000) top/3.8px 3.8px no-repeat,
         conic-gradient(#0000 30%,#351e16);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3.8px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}
