@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: "#F18C8E";
    --primary-400: "#F0B7A4";
    --primary-200: "#F1D1B5";
    --secondary-500: "#305F72";
}

* {
    font-family: Jost, sans-serif;
}
